.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.App-header {
  font-size: x-large;
  margin: 50px;
}

.navbar {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}